body {
  margin: 0;
  font-family: arial;
  font-color: purple;
}

h1 {
  font-family: 'Indie Flower', cursive;
  color: #e5f9e0;
  font-size: 70px;
  text-align: center;
  padding-top: 3%;
}

#main {
  width: 100%;
  height: 800px;
  background-color: gray;
  margin-left: auto;
  margin-right: auto;
}

#mainHeader {
  width: 100%;
  height: 20%;
  background-color: #664147;
}

#r-sidebar {
  width: 20%;
  height: 80%;
  background-color: #2f9c95;
  float: left;
}
#currentScore {
  background-color: #e5f9e0;
  padding: 1%;
  text-align: center;
  font-family:'Indie Flower', cursive;
  color: #664147;
  margin-bottom: 10px;
}

#scoreBox {
  background-color: #e5f9e0;
  padding: 1%;
  text-align: center;
  font-family:'Indie Flower', cursive;
  color: #664147;
  margin-bottom: 10px;
  margin-left: 5%;
  margin-right: 5%;
  border-color: #664147;
  border: 2px;
  width: 90%;
  height: 7%;
  font-size: 24px;
}

#scoreBox p {
  border: 2px dashed #664147;
  padding-top: 5%;
  padding-bottom: 5%;
  font-size: 24px;
}
#player {
  background-color: #e5f9e0;
  padding: 1%;
  text-align: center;
  font-family:'Indie Flower', cursive;
  color: #664147;
  margin-bottom: 10px;
}

#player1Name {
  margin-left: 5%;
  margin-right: 5%;
  border-color: #664147;
  border: 2px;
  width: 90%;
  height: 10%;
}

#player1Name p {
  border: 2px dashed #664147;
  font-size: 16px;
}

#player2Name {
  margin-left: 5%;
  margin-right: 5%;
  border-color: #664147;
  border: 2px;
  width: 90%;
  height: 10%;
}

#player2Name p {
  border: 2px dashed #664147;
  font-size: 16px;
}


#center {
  width: 60%;
  height: 80%;
  background-color: #40c9a2;
  float: left;
}

#alertBox {
  width: 500px;
  height: 80px;
  background-color: #e5f9e0;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2%;
  border: 2px dashed #664147;
  padding-top: 6%;
  text-align: center;
  font-family:'Indie Flower', cursive;
  color: #664147;
  font-size: 24px;
}

#boardgame {
  width: 400px;
  height: 400px;
  background-color: #e5f9e0;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2%;
}


.default-tile {
  width: 25%;
  height: 25%;
  background-color: #a3f7b5;
  border: 2px dashed #664147;
  float: left;
}

.default-tile:hover {
  background-color: #2f9c95;
}


.x-layer {
  background: url("images/xlayer.jpg");  /* places x over tile */
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 25%;
  height: 25%;
  background-color: #a3f7b5;
  border: 2px dashed #664147;
  float: left;
}

.o-layer {
  background: url("images/olayer.jpg"); /* places o over tile */
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 25%;
  height: 25%;
  background-color: #a3f7b5;
  border: 2px dashed #664147;
  float: left;
}


#tile1 {
  margin-top: 6%;
  margin-left: 6%;
}

#tile2 {
  margin-top: 6%;
  margin-left: 5%;
  margin-right: 5%;
}

#tile3 {
  margin-top: 6%;
}

#tile4 {
  margin-top: 6%;
  margin-left: 6%;
}

#tile5 {
  margin-top: 6%;
  margin-left: 5%;
  margin-right: 5%;
}

#tile6 {
  margin-top: 6%;
}

#tile7 {
  margin-top: 5%;
  margin-bottom: 5%;
  margin-left: 6%;
}

#tile8 {
  margin: 5%;
}

#tile9 {
  margin-top: 5%;
  margin-bottom: 5%;
}


#l-sidebar {
  width: 20%;
  height: 80%;
  background-color: #2f9c95;
  float: left;
}



#newGame {
  background-color: #e5f9e0;
  padding: 1%;
  text-align: center;
  font-family:'Indie Flower', cursive;
  color: #664147;
  margin-bottom: 10px;
}

#newGame:hover {
  border: 2px dashed #664147;
  background-color: #a3f7b5;
}

#playAgain {
  background-color: #e5f9e0;
  padding: 1%;
  text-align: center;
  font-family:'Indie Flower', cursive;
  color: #664147;
  margin-bottom: 10px;
}

#playAgain:hover {
  border: 2px dashed #664147;
  background-color: #a3f7b5;
}



