body {
  margin: 0;
  font-family: arial;
  font-color: purple;
}

h1 {
  font-family: 'Indie Flower', cursive;
  color: #e5f9e0;
  font-size: 70px;
  text-align: center;
  padding-top: 3%;
}

#main {
  width: 100%;
  height: 800px;
  background-color: gray;
  margin-left: auto;
  margin-right: auto;
}

#mainHeader {
  width: 100%;
  height: 20%;
  background-color: #664147;
}

#r-sidebar {
  width: 20%;
  height: 80%;
  background-color: #2f9c95;
  float: left;
}

#player {
  background-color: #e5f9e0;
  padding: 1%;
  text-align: center;
  font-family:'Indie Flower', cursive;
  color: #664147;
  margin-bottom: 10px;
}

#player1Name {
  margin-left: 5%;
  margin-right: 5%;
  border-color: #664147;
  border: 2px;
  width: 90%;
  height: 10%;
}

#player1Name p {
  border: 2px dashed #664147;
}
#player1Name p:hover {
  background-color: #2f9c95;
}

#player2Name {
  margin-left: 5%;
  margin-right: 5%;
  border-color: #664147;
  border: 2px;
  width: 90%;
  height: 10%;
}

#player2Name p {
  border: 2px dashed #664147;
}
#player2Name p:hover {
  background-color: #2f9c95;
}

#center {
  width: 60%;
  height: 80%;
  background-color: #40c9a2;
  float: left;
}

#alertBox {
  width: 500px;
  height: 60px;
  background-color: #e5f9e0;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2%;
  border: 2px dashed #664147;
  padding-top: 4%;
  text-align: center;
  font-family:'Indie Flower', cursive;
  color: #664147;
  font-size: 24px;
}

#boardgame {
  width: 400px;
  height: 400px;
  background-color: #e5f9e0;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2%;
}

.x-layer {
  background: url("images/xlayer.jpg");  /* places x over tile */
}

.o-layer {
  background: url("images/olayer.jpg"); /* places o over tile */
}

.default-tile {
  width: 25%;
  height: 25%;
  background-color: #a3f7b5;
  border: 2px dashed #664147;
  float: left;
}

.default-tile:hover {
  background-color: #2f9c95;
}

#tileA {
  margin-top: 6%;
  margin-left: 6%;
}

#tileB {
  margin-top: 6%;
  margin-left: 5%;
  margin-right: 5%;
}

#tileC {
  margin-top: 6%;
}

#tileD {
  margin-top: 6%;
  margin-left: 6%;
}

#tileE {
  margin-top: 6%;
  margin-left: 5%;
  margin-right: 5%;
}

#tileF {
  margin-top: 6%;
}

#tileG {
  margin-top: 5%;
  margin-bottom: 5%;
  margin-left: 6%;
}

#tileH {
  margin: 5%;
}

#tileI {
  margin-top: 5%;
  margin-bottom: 5%;
}


#l-sidebar {
  width: 20%;
  height: 80%;
  background-color: #2f9c95;
  float: left;
}

#scoreboard {
  background-color: #e5f9e0;
  padding: 1%;
  text-align: center;
  font-family:'Indie Flower', cursive;
  color: #664147;
  margin-bottom: 10px;
}

#button {
  background-color: #e5f9e0;
  padding: 1%;
  text-align: center;
  font-family:'Indie Flower', cursive;
  color: #664147;
  margin-bottom: 10px;
}


#scoreBox {
  margin-left: 5%;
  margin-right: 5%;
  border-color: #664147;
  border: 2px;
  width: 90%;
  height: 20%;
}

#scoreBox p {
  border: 2px dashed #664147;
  padding-top: 5%;
  padding-bottom: 5%;
  font-size: 24px;
}
